*{ margin :0; padding :0; }
.Menustyle{
  width:100%;
  height:50px;
  background:#36BD3F; 
  color:floralwhite;
}
.Menustyle ul{
  height:60px;
  display:flex;
  justify-content:space-around;
  align-items:center;
}
.Menustyle ul li{
  list-style:disc;
  text-transform:uppercase;
  color:black;
}